body{
    background-image: url("../img/login.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;

}

.Card{


    position: absolute;
    width: 432px;
    height: 507.625px;
    /*vertical-align: middle;*/
    /*margin-top: 300px;*/

    /*margin-left: 500px;*/

    /*position:fixed;*/
    /*top:50%;*/
    /*right:50%;*/
    background: red;

    margin-left: -216px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
    display: block;
}